<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .info{
      position: absolute;
      top: 0pt;
      left: 450pt;
      font-size: xxx-large;
    }
    .home{
      position: absolute;
      top: 50pt;
      left: 450pt;
      font-size: xxx-large;
    }
  </style>
</head>
<body>
<div style="text-align: center; font-size: xxx-large">ERROR - NOT FOUND</div>
<div class="home">
  <p text-align="center"><a href="home">HOME</a></p>
</div>
</body>
</html>