<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .allBlock{
            position: absolute;
            font-size: large;
            top: 100px;
            left: 300px;
        }
    </style>
</head>

<body>
<div style="text-align: center; font-size: xxx-large">USERS</div>

<div class="allBlock">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Last authorization</th>
        </tr>
        </thead>
        <tbody th:each="user, iStat : ${users}">
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastAuthorization()}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
</div>

</body>
</html>